		h1
		{
			color:yellow;
		 	text-align:center;
		}

		h3
		{
			color:red;
		}

		div{
			border: 10px solid #c034eb;
			font-family:arial;
			font-weight:bold;

			background-color:black;
			height: 50%;
			width: 50%;
			}
		